    .bg-secondary {
        background-color: #205375 !important;
    }
    
    .copyright {
        background-color: #112B3C;
    }
    
    .bg-primary {
        background-color: #F66B0E !important;
    }
    
    nav{
        font-weight: 700;
    }
    
    .img-card{
        height: 18vw;
        object-fit: cover;
    }

    #imagenPrinc{
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }


    select option:checked {
        background-color: #112B3C !important;
        color: white !important;
      }